<%= form_with(model: clase, local: true) do |form| %>
  <% if clase.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(clase.errors.count, "error") %> prohibited this clase from being saved:</h2>

      <ul>
      <% clase.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <div class="field">
      <%= form.label :nombre %>
      <%= form.text_field :nombre %>
    </div>
  </div>

  <div class="form-group">
    <div class="field">
      <%= form.label "Duración" %>
      <%= form.number_field :duracion %>
    </div>
  </div>

  <div class="form-group">
    <div class="field">
      <%= form.label :profesor_asignado %>
      <%= form.text_field :profesor_asignado %>
    </div>
  </div>

  <div class="form-group">
    <div class="field">
      <%= form.label :cantidad_alumnos %>
      <%= form.number_field :cantidad_alumnos %>
    </div>
  </div>

  <div class="field">
    <%= form.label :contenido %>
    <%= form.text_area :contenido %>
  </div>

  <div class="field">
    <%= form.label :nivel_experiencia %>
    <%= form.number_field :nivel_experiencia %>
  </div>

  <div class="field">
    <%= form.label "Descripción" %>
    <%= form.text_area :descripcion %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
