<div class="container-fluid text-center">  
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Nombre:</strong>
    <%= @clase.nombre %>
  </p>

  <p>
    <strong>Duración:</strong>
    <%= @clase.duracion %>
  </p>

  <p>
    <strong>Profesor asignado:</strong>
    <%= @clase.profesor_asignado %>
  </p>

  <p>
    <strong>Cantidad alumnos:</strong>
    <%= @clase.cantidad_alumnos %>
  </p>

  <p>
    <strong>Contenido:</strong>
    <%= @clase.contenido %>
  </p>

  <p>
    <strong>Nivel experiencia:</strong>
    <%= @clase.nivel_experiencia %>
  </p>

  <p>
    <strong>Descripción:</strong>
    <%= @clase.descripcion %>
  </p>

  <a class="btn btn-primary" href="<%= edit_clase_path(@clase) %>" role="button">Editar clase</a>
  <a class="btn btn-success" href="<%= clases_path %>" role="button">Atrás</a>
  
</div>