<% array_level = Tutoriale.where(level: 'levels').to_a %>

<%= form_with(model: tutoriale, local: true) do |form| %>
  <% if tutoriale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tutoriale.errors.count, "error") %> prohibited this tutoriale from being saved:</h2>

      <ul>
      <% tutoriale.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Nombre %>
    <%= form.text_field :title, required: true %>
  </div>

  <div class="field">
    <%= form.label :Descripción %>
    <%= form.text_field :body, required: true %>
  </div>

  <div class="field">
    <%= form.label :Nivel %>
    <% levels = ['Bajo','Medio','Alto'] %>

    <% array_level.each do |level| %>
    <% end %>

    <%= form.select(:level, options_for_select(levels)) %>
  </div>


  <div class="field">
    <%= form.label :URL %>
    <%= form.text_field :url %>
  </div>
  
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
