<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @tutoriale.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @tutoriale.body %>
</p>

<p>
  <strong>Level:</strong>
  <%= @tutoriale.level %>
</p>

<p>
  <strong>Url:</strong>
  <%= @tutoriale.url %>
</p>

<%= link_to 'Edit', edit_tutoriale_path(@tutoriale) %> |
<%= link_to 'Back', tutoriales_path %>