<p id="notice"><%= notice %></p>
<div class="container">
  <h1>Productos</h1>
  <%= form_tag(buscarproducto_page_path, :method => "get",   
    class: 'navbar-form navbar-left') do %>  
  <div class="input-group">  
    <%= search_field_tag :buscarproducto, params[:buscarproducto], placeholder: "Nombre del producto", class: "form-control" %>  
    <div class="input-group-btn">  
      <%= button_tag "", :class => 'btn btn-info glyphicon glyphicon-search',:name => nil%>  
    </div>  
  </div>  
<% end %>


<% @productos.each do |producto| %>

  <div class="card" style="width: 18rem;">

    <% if producto.image.attached? %>
      <img src="<%= url_for(producto.image)  %>" class="img-rounded img-responsive" alt="Product view">
    <% end %>

    <div class="card-body">
      <h5 class="card-title"><%= producto.title %></h5>
      <p class="card-text"><%= producto.body %></p>
    
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><%= producto.price %> €</li>
      <li class="list-group-item"><%= producto.category %></li>
    </ul>
    </div>
    <footer>
      <p><%= link_to 'Show', producto %>    <%= link_to 'Edit', edit_producto_path(producto) %></p>
      <p><%= link_to 'Destroy', producto, method: :delete, data: { confirm: 'Are you sure?' } %></p>
    </footer>
  </div>
<% end %>

<br>
<br>



<%= link_to 'New Producto', new_producto_path %>
</div>