<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @producto.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @producto.body %>
</p>

<p>
<% if @producto.image.attached? %>
<p>
<strong>Image:</strong>
<br>
<%= image_tag @producto.image %>
</p>
<% end %>
</p>

<p>
  <strong>Price:</strong>
  <%= @producto.price %>
</p>

<p>
  <strong>Category:</strong>
  <%= @producto.category %>
</p>

<%= link_to 'Edit', edit_producto_path(@producto) %> |
<%= link_to 'Back', productos_path %>
