<p id="notice"><%= notice %></p>
<div class="container">
  <h1>Tutoriales</h1>
  <p> En ésta sección puede consultar los distintos tutoriales disponibles. </h1>

  <table class="table">
    <thead>
      <tr>
        <th> </th>
        <th> </th>
        <th colspan="2"></th>
      </tr>
    </thead>

  <tbody>

      <% @tutoriales.each do |tutoriale| %>
        <tr>
        <td><%= tutoriale.title %> <br> <%= "Nivel: "tutoriale.level %> <br> <%= tutoriale.url %></td>
          
          <td><%= tutoriale.body %></td>
  
        </tr>
      <% end %>

  </tbody>
</table>
</div>