<p id="notice"><%= notice %></p>
<div class="container">
  <h1>Tutoriales</h1>

  <%= form_tag(buscartutorial_page_path, :method => "get",   
    class: 'navbar-form navbar-left') do %>  
  <div class="input-group">  
    <%= search_field_tag :buscartutorial, params[:buscartutorial], placeholder: "Nombre del tutorial", class: "form-control" %>  
    <div class="input-group-btn">  
      <%= button_tag "", :class => 'btn btn-info glyphicon glyphicon-search',:name => nil%>  
    </div>  
  </div>  
<% end %>

  <p> En ésta sección puede consultar los distintos tutoriales disponibles. </h1>

  <table class="table">
    <thead>
      <tr>
        <th> </th>
        <th> </th>
        <th colspan="2"></th>
      </tr>
    </thead>

  <tbody>

      <% @tutoriales.each do |tutoriale| %>

        <tr>
        <td><%= tutoriale.title %> <br> <%= "Nivel: " + tutoriale.level %> <br> <%= "video: " + tutoriale.url %> </td> 
        <td> <br> <br> <%= tutoriale.body %></td>
        </tr>

      <% end %>

  </tbody>
</table>
</div>