<p id="notice"><%= notice %></p>
<div class="container">
  <h1>Tutoriales</h1>

  <%= form_tag(buscartutorial_page_path, :method => "get",   
    class: 'navbar-form navbar-left') do %>  
  <div class="input-group">  
    <%= search_field_tag :buscartutorial, params[:buscartutorial], placeholder: "Nombre del tutorial", class: "form-control" %>  
    <div class="input-group-btn">  
      <%= button_tag "", :class => 'btn btn-info glyphicon glyphicon-search',:name => nil%>  
    </div>  
  </div>  
<% end %>

  <br> <br>
  <h2> Aquí podremos consultar los tutoriales disponibles </h2>

  <table class="table">
    <thead>
      <tr>
        <th> </th>
        <th> </th>
        <th colspan="2"></th>
      </tr>
    </thead>

  <tbody>

      <% @tutoriales.each do |tutoriale| %>

        <tr>
        <td> <%= tutoriale.title %> <br> <%= "Nivel: " + tutoriale.level %> <br> <iframe src='https://www.youtube.com/embed/<%= tutoriale.url %>?rel=0&autoplay=<%= params[:autoplay] || 0 %>' frameborder='0' width="256" height="144" allowfullscreen></iframe> </td> 
        <td> <br> <br> <%= tutoriale.body %></td>
        </tr>
      <% end %>
  </tbody>
</table>
</div>