<div class="container">
    <% array_clases = Clase.all.to_a %>
    <h1>Clases asignadas</h1>

    <% if logged_in? %>
        <p>Bienvenido/a, <%= current_user.nombre %>.</p>
        <p>Tu rol es: <%= current_user.rol %>.</p>
    <% end %>

    <% clases = [] %>
    
    <% array_clases.each do |clase| %>
        <% clases.append(clase) %>
    <% end %>

    <h1>Tus clases:</h1>

    <% clases.each_with_index do |clase, indice| %>
        <% if clase.alumnos_asignados.to_s.include? current_user.nombre %>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><%= clase.nombre %></h3>
                </div>
                <div class="panel-body">
                    <%= clase.descripcion %>
                </div>
                <div class="panel-body">
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#<%= indice %>"  aria-expanded="false" aria-controls="collapseExample">
                        Ver contenido
                    </button>
                </div>
                <div class="collapse panel-body" id="<%= indice %>">
                    <p>
                        <strong>Profesor asignado: <%= clase.profesor_asignado %></strong>
                    </p>
                    <div class="card card-body mt-3">
                        <%= clase.contenido %>
                    </div>
                </div>
                <div class="panel-footer">
                    <svg class="bi bi-clock" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm8-7A8 8 0 1 1 0 8a8 8 0 0 1 16 0z"/>
                        <path fill-rule="evenodd" d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z"/>
                    </svg>
                    <%= clase.duracion %> minutos
                    <div class="pull-right">
                        <svg class="bi bi-star" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.523-3.356c.329-.314.158-.888-.283-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767l-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288l1.847-3.658 1.846 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.564.564 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                        </svg>
                        Nivel de experiencia: <%= clase.nivel_experiencia %>
                    </div>
                </div>
            </div>
        <% end %>
    <% end %>
</div>
